<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
        <h1>Confirmation</h1>
        <p>
            Bonjour, <%= @freelancer.name %> !<br>
            Merci de l'intérêt que vous nous portez :) Pour confirmer votre envie de nous rejoindre, cliquez sur le lien suivant:<br>
            <%=  link_to "confirm", confirm_email_freelancer_url(:id => @freelancer.id, :confirm_token => @freelancer.confirm_token) %>
        </p>
  </body>
</html>
