Confirmation
===============================================

Bonjour, <%= @freelancer.name %> !<br>
Merci de l'intérêt que vous nous portez:) Pour confirmer votre envie de nous rejoindre, cliquez sur le lien suivant:<br>
<%=  link_to "confirm", confirm_email_freelancer_url(@freelancer.confirm_token) %>
