<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
        <h1>Coworking contract</h1>
        <p>
            I agree to the terms and conditions<br>
        </p>
  </body>
</html>