<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
        <h1>Confirmez vos infos</h1>
        <p>
            <%= link_to "Mes infos", edit_freelancer_url(@freelancer.id) %>
            <%= link_to "Annuler", expired_freelancer_url(@freelancer.id) %>
        </p>
  </body>
</html>
