<%= form_for @freelancer do |f| %>
    <%= render "shared/errors", object: @freelancer %>

        <div class="form-group">
            <%= f.text_field :name, required: true, class: "form-control", placeholder: "Nom" %>
        </div>

        <div class="form-group">
            <%= f.text_field :email, required: true, class: "form-control", placeholder: "Email" %>
        </div>

        <div class="form-group">
            <%= f.text_field :phone, required: true, class: "form-control", placeholder: "Téléphone" %>
        </div>

        <div class="form-group">
            <%= f.text_area :bio, required: true, class: "form-control", placeholder: "Biographie", rows: 15 %>
        </div>

        <div class="form-group">
            <%= f.button :submit, class: "btn btn-success" %>
        </div>
<% end %>
