<header>
    <nav>
        <%= link_to "Coworking", root_path, class: "logo" %>

        <div class="navlinks">
            <%= link_to "Inscrire un freelancer", new_freelancer_path %>
        </div>
    </nav>
</header>
