<section class="edit-freelancer">
    <header>
        <h1>Editer les infos d'un freelancer</h1>
    </header>

    <div class="row">
        <div class="col-sm-6">
            <%= render "shared/form" %>
        </div>
    </div>
</section>
