<section class="all-applies">
    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Email</th>
                <th>Tél</th>
                <th>Biographie</th>
                <th>statut</th>
                <th>Date de création</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <% @freelancers.each do |freelancer| %>
                <tr>
                    <td><%= freelancer.name %></td>
                    <td><%= freelancer.email %></td>
                    <td><%= freelancer.phone %></td>
                    <td><%= freelancer.bio %></td>

                    <td>
                        <%= form_for (freelancer) do |f| %>
                            <%= f.select(:status, Freelancer.statuses.keys {|status| status}) %>
                            <%= f.submit 'Changer le statut', class: 'button-xs' %>
                        <% end %>
                    </td>

                    <td><%= time_ago_in_words(freelancer.created_at) %> ago</td>
                    <td><%= link_to "modifier", edit_freelancer_path(freelancer) %>
                        <%= link_to "supprimer", freelancer, method: :delete, data: { confirm: "Êtes-vous sûr.e?" } %>
                    </td>
                </tr>
            <% end%>
        </tbody>
    </table>
</section>
