<section class="new-freelancer">
    <header>
        <h1>Apply to our unbelievable waiting list !</h1>
    </header>

    <div class="row">
        <div class="col-sm-6">
            <%= render "shared/form" %>
        </div>
    </div>
</section>